.BlankCard {
  width: 10rem;
  margin: 0.4rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 3px rgba(10,10,10,.3),0 0 0 1px rgba(10,10,10,.3);
}
