.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  display: flex;
}

.hero-body > .container {
  margin: 0 auto;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}
